body {
  overflow-x: hidden;
}
.events {
  color: azure;
  display: flex;
  flex-wrap: wrap;
  /* max-width: 1200px; */
  /* margin: 20px; */
  margin-right: 38px;
}
.events-head {
  margin: 20px 28px;
  font-size: x-large;
  /* margin-left: 28px; */
  color: rgb(184, 167, 167);
}
.events-head1 {
  margin-top: 200px;
  margin-bottom: 20px;
  font-size: x-large;
  margin-left: -100px;
  color: rgb(184, 167, 167);
}
.events-head2 {
  margin-top: 200px;
  margin-bottom: 20px;
  font-size: x-large;
  margin-left: -100px;
  color: rgb(184, 167, 167);
}
.events-head3 {
  margin-top: 200px;
  margin-bottom: 20px;
  font-size: x-large;
  margin-left: -100px;
  color: rgb(184, 167, 167);
}
.events-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1350px) {
  .events {
    margin-right: 20px;
  }
  .events-head {
    margin: 10px 80px;
    font-size: 20px;
    display: inline-block;
  }
  .events-head1 {
    margin-top: 20px;

    margin-left: 30px;
  }
  .events-head2 {
    margin-top: 20px;
    margin-left: 30px;
  }
  .events-head3 {
    margin-top: 20px;

    margin-left: 30px;
  }
}
